.basket__list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 35px 25px;
    border: 3px solid #000000;
    box-shadow: 0 0 1000px black;
    background: #fff;
    color: #000;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    transition: 0.3s;
    animation: showBskt 300ms ease-in-out;
    @keyframes showBskt {
        from{
            top: 60%;
            opacity: 0;
        }
        to{
            top: 50%;
            opacity: 1;
        }
    }
    &-title{
        font-size: 1.5rem;
        line-height: 1rem;
        margin-bottom: 25px;
    }
    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    &-btn{
        display: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        min-height: 45px;
        font-size: 1rem;
        line-height: 1rem;
        color: #fff;
        background-image: radial-gradient(rgb(207, 25, 52), rgb(201, 26, 51), rgb(194, 26, 51), rgb(188, 27, 50), rgb(182, 28, 49), rgb(176, 28, 48), rgb(169, 29, 48), rgb(163, 29, 47), rgb(157, 30, 46), rgb(151, 31, 45), rgb(144, 31, 45), rgb(138, 32, 44));
        border-radius: 10px;
        cursor: pointer;
        margin-top: 25px;
    }
    &-total{
        font-size: 1.5rem;
        line-height: 1rem;
    }
    &-currentPrice{
        text-align: right;
        font-size: 1.2rem;
        line-height: 1rem;
        width: 55px;
        margin-left: 5px;
        margin-right: 35px;
    }
    &-close{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            transform: rotate(-90deg);
        }
    }
}