.alert {
  position: fixed;
  top:100px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  color: #000;
  font-size: 1rem;
  line-height: 1rem;
  z-index: 9999;
  box-shadow: 0 0 50px #000;
  animation: showAlert 200ms ease-in-out;
    @keyframes showAlert {
        from{
            top: 90px;
            opacity: 0;
        }
        to{
            top:100px;
            opacity: 1;
        }
    }
}